@media screen and (max-width: 1187px) {
  /* line 2, ../sass/mediaqueries.scss */
  .information {
    padding: 0 8px;
  }
}
@media screen and (max-width: 803px) {
  /* line 9, ../sass/mediaqueries.scss */
  .inner-header-part {
    display: flex;
    flex-flow: row wrap;
  }
  /* line 13, ../sass/mediaqueries.scss */
  .inner-header-part .networks {
    margin: 0 auto;
  }
  /* line 17, ../sass/mediaqueries.scss */
  .inner-header-part .logo-name {
    font-size: 10px;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
    width: 100%;
    text-align: center;
  }

  /* line 26, ../sass/mediaqueries.scss */
  .top-menu {
    *border: 1px solid #ccc;
    margin: 40px auto !important;
  }
  /* line 30, ../sass/mediaqueries.scss */
  .top-menu li:first-child {
    padding-left: 0px !important;
  }

  /* line 35, ../sass/mediaqueries.scss */
  .footer {
    padding: 0 10px !important;
  }
}
@media screen and (max-width: 550px) {
  /* line 42, ../sass/mediaqueries.scss */
  .top-menu {
    display: none !important;
  }

  /* line 46, ../sass/mediaqueries.scss */
  .select-menu {
    font-family: 'Local-Lobster';
    font-size: 19px;
    width: 400px !important;
    display: block !important;
    margin: 40px auto !important;
    height: 35px;
  }

  /* line 55, ../sass/mediaqueries.scss */
  .image-container {
    width: 100% !important;
    margin-left: 0 !important;
  }
  /* line 59, ../sass/mediaqueries.scss */
  .image-container div {
    width: 50% !important;
  }
  /* line 62, ../sass/mediaqueries.scss */
  .image-container div img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* line 70, ../sass/mediaqueries.scss */
  .greeting {
    width: 80% !important;
    margin: 0 auto;
    margin-bottom: 0 !important;
  }
  /* line 75, ../sass/mediaqueries.scss */
  .greeting h1 {
    font-size: 45px !important;
  }
  /* line 79, ../sass/mediaqueries.scss */
  .greeting p {
    font-size: 16px !important;
    line-height: 1.5em;
  }

  /* line 85, ../sass/mediaqueries.scss */
  .fish-blocks {
    display: block !important;
    background: none !important;
    padding: 0 !important;
  }
  /* line 90, ../sass/mediaqueries.scss */
  .fish-blocks .fishes {
    width: 80% !important;
    margin: 0 auto;
    margin-top: 0 !important;
    *border: 1px solid #fff;
    padding-top: 35px !important;
  }
  /* line 97, ../sass/mediaqueries.scss */
  .fish-blocks .fishes:last-child {
    padding-bottom: 35px !important;
  }
  /* line 101, ../sass/mediaqueries.scss */
  .fish-blocks .fishes:first-child, .fish-blocks .fishes:nth-child(2) {
    background: #004585 !important;
  }
  /* line 105, ../sass/mediaqueries.scss */
  .fish-blocks .fishes:last-child {
    background: linear-gradient(#004585, #00284F);
  }
  /* line 109, ../sass/mediaqueries.scss */
  .fish-blocks .fishes .img {
    display: block;
    float: left;
    height: inherit;
    margin-right: 10px;
    margin-top: 7px;
  }
  /* line 117, ../sass/mediaqueries.scss */
  .fish-blocks .fishes .text-fishes {
    font-family: 'Local-Lobster';
    color: #fff;
  }
  /* line 121, ../sass/mediaqueries.scss */
  .fish-blocks .fishes .text-fishes h2 {
    font-weight: 100;
    font-size: 28px;
  }
  /* line 126, ../sass/mediaqueries.scss */
  .fish-blocks .fishes .text-fishes text {
    font-family: Verdana;
    font-size: 12px;
    text-indent: 4px;
  }
  /* line 132, ../sass/mediaqueries.scss */
  .fish-blocks .fishes .text-fishes a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }

  /* line 141, ../sass/mediaqueries.scss */
  .information {
    display: block !important;
    width: 80% !important;
    margin: 0 auto;
  }
  /* line 146, ../sass/mediaqueries.scss */
  .information div[class='welcome'], .information div[class='news'], .information div[class='reviews'] {
    width: 100% !important;
    border: none !important;
    margin: 0 auto !important;
    padding: 0 !important;
    margin-bottom: 20px !important;
  }

  /* line 158, ../sass/mediaqueries.scss */
  .inner-footer {
    padding-top: 40px;
  }
  /* line 160, ../sass/mediaqueries.scss */
  .inner-footer .policy {
    float: left !important;
    font-family: Verdana;
    font-size: 12px;
    color: #fff;
    line-height: 1em !important;
    width: 100% !important;
    display: block !important;
    margin-bottom: 10px;
  }
  /* line 171, ../sass/mediaqueries.scss */
  .inner-footer .footer-menu {
    float: left !important;
    display: flex;
    font-family: Verdana;
    font-size: 12px;
    color: #fff;
    line-height: 1em !important;
    width: 100% !important;
  }
  /* line 180, ../sass/mediaqueries.scss */
  .inner-footer .footer-menu li {
    margin-left: 40px;
    cursor: pointer;
  }
  /* line 184, ../sass/mediaqueries.scss */
  .inner-footer .footer-menu li:first-child {
    margin-left: 16px !important;
  }
}
