@media screen and (max-width: 1187px){
    .information{
        padding: 0 8px;
    }
}

@media screen and (max-width: 803px){

    .inner-header-part{
        display: flex;
        flex-flow: row wrap;

        .networks{
            margin: 0 auto;
        }

        .logo-name{
            font-size: 10px;
            margin-bottom: 0 !important;
            margin-top: 10px !important;
            width: 100%;
            text-align: center;
        }
    }

    .top-menu{
        *border: 1px solid #ccc;
        margin: 40px auto !important;

        li:first-child{
            padding-left: 0px !important;
        }
    }

    .footer{
        padding: 0 10px !important;
    }

}

@media screen and (max-width: 550px){
    .top-menu{
        display: none !important;
    }

    .select-menu{
        font-family: 'Local-Lobster';
        font-size: 19px;
        width: 400px !important;
        display: block !important;
        margin: 40px auto !important;
        height: 35px;
    }

    .image-container{
        width: 100% !important;
        margin-left: 0 !important;

        div{
            width: 50% !important;

            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    .greeting{
        width: 80% !important;
        margin: 0 auto;
        margin-bottom: 0 !important;

        h1{
            font-size: 45px !important;
        }

        p{
            font-size: 16px !important;
            line-height: 1.5em;
        }
    }

    .fish-blocks{
        display: block !important;
        background: none !important;
        padding: 0 !important;

        .fishes{
            width: 80% !important;
            margin: 0 auto;
            margin-top: 0 !important;
            *border: 1px solid #fff;
            padding-top: 35px !important;

            &:last-child{
                padding-bottom: 35px !important;
            }

            &:first-child, &:nth-child(2){
                background: #004585 !important;
            }

            &:last-child{
                background: linear-gradient(#004585, #00284F);
            }

            .img{
                display: block;
                float: left;
                height: inherit;
                margin-right: 10px;
                margin-top: 7px;
            }

            .text-fishes{
                font-family: 'Local-Lobster';
                color: #fff;

                h2{
                    font-weight: 100;
                    font-size: 28px;
                }

                text{
                    font-family: Verdana;
                    font-size: 12px;
                    text-indent: 4px;
                }

                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }

    .information{
        display: block !important;
        width: 80% !important;
        margin: 0 auto;

        & div[class='welcome'],
        & div[class='news'],
        & div[class='reviews']{
            width: 100% !important;
            border: none !important;
            margin: 0 auto !important;
            padding: 0 !important;
            margin-bottom: 20px !important;
        }
    }


    .inner-footer{
        padding-top: 40px;
        .policy{
            float: left !important;
            font-family: Verdana;
            font-size: 12px;
            color: #fff;
            line-height: 1em !important;
            width: 100% !important;
            display: block !important;
            margin-bottom: 10px;
        }

        .footer-menu{
            float: left !important;
            display: flex;
            font-family: Verdana;
            font-size: 12px;
            color: #fff;
            line-height: 1em !important;
            width: 100% !important;

            li{
                margin-left: 40px;
                cursor: pointer;

                &:first-child{
                    margin-left: 16px !important;
                }
            }
        }
    }
}
