body{
    font-family: "PT Sans", sans-serif;
}
#flex-container{
    max-width: 1200px;
    min-width: 550px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
}

.flex-el{
    margin: 10px;
    border: 1px solid #ccc;
    flex: 1 1 300px;
    padding: 10px;
}

#header{
    flex: 1 1 100%;
    height: 150px; 
}

#main-nav{
    flex: 1 1 100%;
    margin: 0 10px;
    padding: 0;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

#main-nav li{
    border-right: 1px solid #ccc;
    width: 100%;
    text-align: center;
    transition: .3s;
}

#main-nav li:last-child{
    border-right: none;
}

#main-nav li:hover{
    background: #d9d9d9;
}

#container{
    flex: 3 1 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}

#footer{
    border: 1px solid #ccc;
}

.wrap{
    *width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.image{
    flex: 1 1 150px;
}

.image img{
    width: 100%;
    height: auto;
}

.text{
    flex: 1 1 150px;
}

#leftbar{
    flex: 1 1 150px;
}

#leftbar #nav{
    border: 1px solid #ccc;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
}

#leftbar #nav li{
    height: 30px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

#leftbar #nav li:last-child{
    border-bottom: none;
}

#leftbar #nav li:hover{
    background: #d9d9d9;
}

#footer{
    flex: 1 1 100%;
}